extends layout

block content
  body
  .container.center
    h5 Where do you want to eat lunch on Friday?
    #connection-count
    br
    h5#vote-count
    br
  .row.center
    .col.s12.m4.l2
      p
    .col.s12.m4.l8
      p
      h5 Close Poll
      .switch
        label
          | Off
          input.close-poll(type='checkbox')
          span.lever
          |         On
