extends layout

block content
  body
  .container.center
    h3 #{poll.title}
    p
    #connection-count
    table.centered.bordered
      thead
        tr
          th(data-field='id') Response
          th(data-field='name') Vote Count
      each response in poll.responses
        tbody
          tr
            td #{response}
            td#vote-count
      br
      br
  .row.center
    .col.s12.m4.l2
      p
    .col.s12.m4.l8
      p
      h5 Close Poll
      .switch
        label
          | Off
          input.close-poll(type='checkbox')
          span.lever
          |         On
