extends layout

block content
  body.center
    .container.center
      form.new-poll-form(action='/poll', method='post')
        .row.center
          .col.s12.m4.l2
            p
          .col.s12.m4.l8.response-list
            .input-field
              input.poll-title.validate(type='text', name='poll[title]', placeholder='Title')
            .input-field
              input.poll-response.validate(type='text', name='poll[responses][]', placeholder='Response')
            .input-field
              input.poll-response.validate(type='text', name='poll[responses][]', placeholder='Response')
        .row.center
          .input-field
            .add-response.btn.waves-effect.waves-light.cyan.darken-2.right(type='', name='') +
        .row.center
          .col.s12.m4.l2
            p
          .col.s12.m4.l4
            h5 Set Timeout
            .input-field
              input.datepicker.center(type='date', placeholder='Date', class='timeout-date')
            .input-field
              input.datepicker.center(type='time', placeholder='Time', class='timeout-time')
          .col.s12.m4.l4
            p
            h5 Anonymous Results
            .switch
              label
                | Off
                input(type='checkbox')
                span.lever.anonymous-results
                | On
          .col.s12.m4.l2
            p
        .row
          br
          br
          .input-field
            button#create-link.btn-large.waves-effect.waves-light.cyan.darken-2.submit-button(type='submit', name='action') Create
