extends layout

block content
  body
    .container.center
      h3 #{poll.title}
      #status-message
      h5#choices
        if poll.active === true
          each response in poll.responses
            input(type="button", name="#{response}-votes" value="#{response}").btn
            br
            br
        else
          br
          br
          h5 This poll has closed.
    .container.center
      h5#my-vote
      br
      h4#vote-count
      br
