extends layout

block content
  body
  .container.center
    h5#poll-title
    h5 Where do you want to eat lunch on Friday?
    #status-message
    h5#choices
      button A
      br
      button B
      br
      button C
      br
      button D
    h5#my-vote
    h5#vote-count
    br
