extends layout

block content
  body
  .container.center
    #status-message
    #connection-count
    br
    h5 Where do you want to eat lunch on Friday?
    br
    #choices
      button A
      button B
      button C
      button D
    br
    #my-vote
    br
    #vote-count
    br
